#block-pieddepagemakoa {
    padding-top: 31px;
    box-shadow: 0 3px 4px 0 #ccc;
    background: white;
    padding-bottom: 12px;
    padding-left: 22px;
}

/*Remplacer le logo civicrm par logo fhp*/
#civicrm-menu-nav .crm-logo-sm {
    background: url(https://test.sitraka.fhp.makoa.net/sites/test.sitraka.fhp.makoa.net/files/images/logo.png) no-repeat;
    background-size: 50px;
    padding-left: 50px;
    margin: 0 !important;
    width: 50px;
    height: 14px;
}

#civicrm-menu {
    background-color: #111111 !important;
}

ul#civicrm-menu.sm li a, ul#civicrm-menu.sm  li a.highlighted:focus {
    background-color: #111111 !important;
    color: white !important;
}


#crm-container.crm-container .CRM_Activity_Form_Search .crm-accordion-wrapper {
    margin-right: 0;
    margin-left: 0;
}

#contactname-block #last_name, #contactDetails #last_name, #contactDetails #organization_name, #last_name, #crm-main-content-wrapper #organization_name,
#crm-contactinfo-content #legal_name{
    text-transform: uppercase;
}
