#block-pieddepagemakoa {
    padding-top: 31px;
    box-shadow: 0 3px 4px 0 #ccc;
    background: white;
    padding-bottom: 12px;
    padding-left: 22px;
}
.path-user .login_link {
    display: none !important;
}
/*
* Ne pas afficher le lien "precedent"
*/
#bottom_part .back_link {
    display: none !important;
}
#middle_part .tabs.tabs--primary .tabs__tab:nth-child(2) , #block-pieddepagemakoa{
    display: none;
  }
  
  .path-frontpage #block-olivero-content {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
  .path-frontpage .user-login-form .form-actions {
    justify-content: space-around;
  }
/*Remplacer le logo civicrm par logo fhp*/
#civicrm-menu-nav .crm-logo-sm {
    background: url(/files/images/logo.png) no-repeat;
    background-size: 105px;
    padding-left: 60px;
    margin: 0 !important;
    width: -11px;
    height: 34px;
    margin-top: 2px !important;
}
#address_custom_11_1 .collapsible-title {
    display: none;
}

#civicrm-menu {
    background-color: #111111 !important;
}

ul#civicrm-menu.sm li a, ul#civicrm-menu.sm  li a.highlighted:focus {
    background-color: #111111 !important;
    color: white !important;
}


#crm-container.crm-container .CRM_Activity_Form_Search .crm-accordion-wrapper {
    margin-right: 0;
    margin-left: 0;
}

#contactname-block #last_name, #contactDetails #last_name, #contactDetails #organization_name, #last_name, #crm-main-content-wrapper #organization_name,
#crm-contactinfo-content #legal_name{
    text-transform: uppercase;
}
.path-frontpage #auth_box input[type="text"],.path-frontpage  #auth_box input[type="password"] {
    width: 100%;
}

@media (max-width: 768px) {
    .path-frontpage .user-login-form.pwd-see {
        width: 75%;
        padding-left: 14px;
    }
    .path-frontpage #auth_box {
        /* margin-left: 61px; */
    }
    .path-frontpage #auth_box .tabs--primary {
        width: 100% !important;
    }
    .path-frontpage .user-login-form.pwd-see {
        width: 100%;
        padding-left: 4px;
        padding-right: 0;
    }
    .path-frontpage #block-olivero-content .block__content  {
        width: 100%;
    }
    .path-frontpage nav {
        padding-left: 0;
        width: 100%;
    }

}

/* @media (max-width: 680px) {
       .path-frontpage .user-login-form.pwd-see {
        padding-right: 151px;
    }
} */